<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Postagem</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <style>
        #editor {
            height: 50vh; 
            max-height: 80vh;
            min-height: 200px;
        }
    </style>
    {{#titulo}}
        <h1>Editar arquivo:</h1>
    {{/titulo}}
    {{^titulo}}
        <h1>Criar arquivo:</h1>
    {{/titulo}}

    <form id="formulario" onsubmit="salvarConteudo()" action="/users/salvarPostagem" method="post">
        <label for="titulo">Título da postagem</label>
        <input type="textfield" id="titulo" name="titulo" value = "{{titulo}}"></input>
        <div id="editor" name="editor"><pre>{{conteudo}}</pre> <!-- This is the container for the Quill editor -->
        </div>
        <input type="hidden" :width name="postagem">
        <button type="submit">Salvar</button>
    </form>

    <a href="/">Voltar</a>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });
    // adicionando o conteúdo do editor no input do formulário
    function salvarConteudo(){
        var editor = document.querySelector(".ql-editor").contentEditable = false;
        var clipboard = document.querySelector(".ql-clipboard").contentEditable = false;
        var bar = document.querySelector("input[type=text]").type="hidden"
        var p = document.querySelector("#editor");
        var myInput = document.querySelector("input[name=postagem]");
        myInput.value = p.innerHTML;
    }
</script>
</body>
</html>
