<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>LOGIN</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario"/>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha"/>
        <input type="submit" value="Login">
    </form>
    {{#error}}
      <h3>{{.}}<h3>
    {{/error}}
  </body>
</html>